/* Ajoute ça dans styles.css ou global styles */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.6); /* gray-500 */
  border-radius: 4px;
}
